.header {
  background-color: var(--white);
  &-nav {
    margin-bottom: 2px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      li {
        a {
          color: rgba(130, 130, 130, 1);
          font-size: 14px;
          font-weight: 500;
          line-height: 18.2px;
        }
      }
    }
  }
  &-content {
    padding: 24px 0;
    background-color: var(--white);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      display: flex;
      align-items: center;
      grid-gap: 0 90px;
    }
    &__right {
      display: flex;
      align-items: center;
      grid-gap: 0 90px;
    }
    .logo {
      width: 255px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .address {
      display: flex;
      flex-direction: column;
      grid-gap: 10px 0;
      p {
        color: var(--gray);
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
      }
      a {
        display: flex;
        grid-gap: 0 9px;
        color: var(--black);
        font-size: 14px;
        font-weight: 600;
        line-height: 110%;
        &::before {
          content: '';
          display: block;
          width: 13.33px;
          height: 17.5px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxNCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04Ljk4Mzk5IDE2LjMzMTVDMTAuOTA4OCAxMy44NzcgMTMuMzMzMyAxMC4zMTEgMTMuMzMzMyA3LjkyMTY1QzEzLjMzMzMgMy45NTk2MSAxMC4zNDg2IDAuNzQ3NzQyIDYuNjY2NjcgMC43NDc3NDJDMi45ODQ3NyAwLjc0Nzc0MiAwIDMuOTU5NjEgMCA3LjkyMTY1QzAgMTAuMzExIDIuNDI0NTQgMTMuODc3IDQuMzQ5MzQgMTYuMzMxNUM1LjM1MzU0IDE3LjYxMiA1Ljg1NTY0IDE4LjI1MjMgNi42NjY2NyAxOC4yNTIzQzcuNDc3NjkgMTguMjUyMyA3Ljk3OTc5IDE3LjYxMiA4Ljk4Mzk5IDE2LjMzMTVaTTYuNjY2NjcgMTAuNzQ3N0M1LjI4NTk1IDEwLjc0NzcgNC4xNjY2NyA5LjYyODQ1IDQuMTY2NjcgOC4yNDc3NEM0LjE2NjY3IDYuODY3MDMgNS4yODU5NSA1Ljc0Nzc0IDYuNjY2NjcgNS43NDc3NEM4LjA0NzM4IDUuNzQ3NzQgOS4xNjY2NyA2Ljg2NzAzIDkuMTY2NjcgOC4yNDc3NEM5LjE2NjY3IDkuNjI4NDUgOC4wNDczOCAxMC43NDc3IDYuNjY2NjcgMTAuNzQ3N1oiIGZpbGw9IiNGRkQwMDAiLz4KPC9zdmc+Cg==);
          background-position: center;
          background-size: inherit;
        }
      }
    }
    .callback {
      display: flex;
      flex-direction: column;
      grid-gap: 8px 0;
      a {
        color: var(--black);
        font-size: 21px;
        font-weight: 600;
        line-height: normal;
      }
      p {
        position: relative;
        padding-bottom: 3px;
        color: var(--gray);
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: url('../img/callback-line.svg') center;
          background-size: 100%;
        }
      }
    }
  }
}