@import "helpers";

.banner {
  position: relative;
  padding-bottom: auto-clamp(90, 120);
  overflow: hidden;
  &-content {
    .content {
      position: relative;
      max-width: auto-clamp(540, 670);
      margin-bottom: auto-clamp(40, 60);
      padding-top: auto-clamp(40, 120);
      z-index: 2;

      @media (max-width: 768px) {
        padding-top: 40px;
      }

      @media (max-width: 680px) {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-top: 20px;
        margin-bottom: 30px;
      }

      @media (max-width: 580px) {
        max-width: 100%;
      }
    }
    .image {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;

      @media (max-width: 680px) {
        position: relative;
        top: unset;
        right: unset;
        max-width: 380px;
        min-height: 202px;
        margin: 30px auto 0;
      }
      img {
        position: absolute;
        top: auto-calc(245, 768, 0, 1920);
        right: auto-calc(20, 768, -35, 1920);
        width: auto-calc(373, 768, 1138, 1920);
        height: auto-calc(209, 768, 641, 1920);
        object-fit: contain;
        z-index: 2;

        @media (max-width: 768px) {
          top: 245px;
          right: 20px;
        }
        @media (max-width: 680px) {
          top: unset;
          bottom: 17px;
          right: 70px;
          width: 284px;
          height: 159px;
        }
      }
      .circle {
        content: "";
        position: absolute;
        top: auto-calc(24, 768, -505, 1920);
        right: auto-calc(-210, 768, -390, 1920);
        display: block;
        width: auto-calc(420, 768, 1284, 1920);
        height: auto-calc(420, 768, 1284, 1920);
        border-radius: 50%;
        background-color: var(--color-red);

        @media (max-width: 680px) {
          top: 0;
          right: 0;
          width: 202px;
          height: 202px;
        }
      } 
    }
    h1 {
      margin: 0 0 auto-clamp(30, 50);
      color: var(--color-black);
      font-size: auto-clamp(40, 50);
      font-weight: 700;
      line-height: normal;

      @media (max-width: 680px) {
        font-size: 3rem;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      grid-gap: 16px 0;
      max-width: auto-clamp(470, 586);

      @media (max-width: 580px) {
        max-width: 100%;
      }
      li {
        position: relative;
        padding-left: 40px;
        color: var(--color-gray);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          background: url(../img/bullet-icon.svg) center no-repeat;
          background-size: content;
        }
      }
    }
    .button {

      @media (max-width: 680px) {
          width: 100%;
      }
    }
  }
  &-list {
    padding: 0 var(--padding-container);
    margin-top: auto-clamp(90, 120);
    
    @media (max-width: 768px) {
      padding: 0 20px;
    }
    @media (max-width: 580px) {
      margin-top: 60px;
    }
    .swiper-wrapper {
      justify-content: space-between;
    }
    .list-item {
      position: relative;
      flex: 0 0 300px;
      display: flex;
      flex-direction: column;
      grid-gap: 24px 0;
      min-width: 300px;
      min-height: 219px;
      margin-right: 45px;
      padding: 40px;
      border-radius: 20px;
      background: var(--color-white);
      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 580px) {
        flex: 0 0 235px;
        min-width: 235px;
        min-height: 242px;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        color: var(--color-black);
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        border-radius: 10px;
        background: var(--color-yellow);
      }
      h3 {
        margin: 0;
        color: var(--color-black);
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        width: 45px;
        height: 45px;
        transform: translateY(-50%);
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI4LjUgMTkuNjY4N0wyNC44MDYzIDE1Ljk3NUwxOC43ODc1IDkuOTU2MjVDMTcuNTEyNSA4LjcgMTUuMzM3NSA5LjYgMTUuMzM3NSAxMS40VjIzLjA4MTNWMzMuNkMxNS4zMzc1IDM1LjQgMTcuNTEyNSAzNi4zIDE4Ljc4NzUgMzUuMDI1TDI4LjUgMjUuMzEyNUMzMC4wNTYzIDIzLjc3NSAzMC4wNTYzIDIxLjIyNSAyOC41IDE5LjY2ODdaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &:last-child {
        background-color: var(--color-black);
        h3 {
          color: var(--color-white);
        }
        &::before {
          display: none;
        }
      }
    }
  }
}