{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-main.css">
{% endblock %}
{% block content %}

<div class="banner">
  <div class="container">
    <div class="banner-content">
      <div class="content">
        <h1>Займ под ПТС по&nbsp;низкой ставке от&nbsp;2,9%&nbsp;&mdash; авто остается у&nbsp;вас</h1>
        <ul>
          <li>Бесплатный выезд оценщика и&nbsp;деньги на&nbsp;карту или наличными
            в&nbsp;день обращения с&nbsp;доставкой по&nbsp;Санкт-Петербургу и&nbsp;Ленинградской области</li>
          <li>Услугу оказывает ООО МКК &laquo;Немецкая финансовая компания&raquo;</li>
        </ul>
      </div>
      <div class="button is-bg-yellow is-font-black">РАССЧИТАТЬ СУММУ ЗАЙМА</div>
      <div class="image">
        <div class="circle"></div>
        <img src="./img/auto.png" alt="Автомобиль">
      </div>
    </div>
  </div>
  <div class="banner-list swiper js-banner-slider">
    <div class="swiper-wrapper">
      <div class="list-item item">
        <span>01</span>
        <h3>Оставьте заявку на&nbsp;сайте или по&nbsp;номеру: <br>+7 (812) 416-42-16</h3>
      </div>
      <div class="list-item item">
        <span>02</span>
        <h3>Приезжайте к&nbsp;нам в&nbsp;офис на&nbsp;своём автомобиле</h3>
      </div>
      <div class="list-item item">
        <span>03</span>
        <h3>Заключите с&nbsp;нашей компанией договор займа под ПТС</h3>
      </div>
      <div class="list-item item">
        <span>04</span>
        <h3>Получите займ наличными в&nbsp;день обращения</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script src="js/page-main.js"></script>
{% endblock %}